@model diplom.Models.User
@{
    ViewData["Title"] = "Профиль";
}

<div class="container">
    <h1>Профиль</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <h3>Личная информация</h3>
            <dl class="row">
                <dt class="col-sm-4">ФИО:</dt>
                <dd class="col-sm-8">@Model.FullName</dd>

                <dt class="col-sm-4">Email:</dt>
                <dd class="col-sm-8">@Model.Email</dd>

                @if (Model.Height.HasValue)
                {
                    <dt class="col-sm-4">Рост:</dt>
                    <dd class="col-sm-8">@Model.Height см</dd>
                }

                @if (Model.Weight.HasValue)
                {
                    <dt class="col-sm-4">Вес:</dt>
                    <dd class="col-sm-8">@Model.Weight кг</dd>
                }
            </dl>
        </div>

        <div class="col-md-6">
            <h3>Абонемент</h3>
            @if (!string.IsNullOrEmpty(Model.MembershipType))
            {
                <dl class="row">
                    <dt class="col-sm-4">Тип:</dt>
                    <dd class="col-sm-8">@Model.MembershipType</dd>

                    @if (Model.RemainingVisits.HasValue)
                    {
                        <dt class="col-sm-4">Осталось посещений:</dt>
                        <dd class="col-sm-8">@Model.RemainingVisits</dd>
                    }

                    @if (Model.MembershipEndDate.HasValue)
                    {
                        <dt class="col-sm-4">Действует до:</dt>
                        <dd class="col-sm-8">@Model.MembershipEndDate.Value.ToShortDateString()</dd>
                    }
                </dl>
            }
            else
            {
                <p>У вас нет активного абонемента</p>
                <a asp-controller="Home" asp-action="Memberships" class="btn btn-primary">Купить абонемент</a>
            }
        </div>
    </div>
</div>